.character__card {
  margin: 60px 0px;
}
.card {
  width: 400px;
  border: 2px solid #dedede;
  border-radius: 10px;
  margin: 10px 20px;
  box-shadow: 0px 0px 10px #dedede;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
}

.card__img {
  width: 45%;
  text-align: center;
  margin: 25px auto;
}

.card__img__tag {
  max-width: 150px;
  height: 100%;
  border: 2px solid #dedede;
  border-radius: 50%;
}

.card_propertiesTag {
  width: 45%;
  text-align: center;
  margin-left: 30px;
  margin-top: 10px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.card__favorite--red {
  background-color: lightcoral;
}

.card__favorite--yellow {
  background-color: lightyellow;
}

.card__favorite--blue {
  background-color: lightblue;
}

.card__favorite--green {
  background-color: lightgreen;
}

.more {
  display: block;
  margin: 3px auto;
}

.card--favorite {
  background-color: gray;
}

.favourite__button {
  background: transparent;
  border: none;
  margin-left: 80%;
  font-size: 20px;
  margin-bottom: 10px;
}
